# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Napredno_Veb_Programiranje\NVP_Domaci_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
